.auth{
    height: 100vh;
    width: 100vw;
}

.form-control {
    border-color: darken($color: $red-orange, $amount: 30);
    box-shadow: none;
    &:focus{
        border-color: $red-orange;
        box-shadow: none;
    }
}

.button__container{

    height: 25%;

}

.from__container{
    
    height: 60%;
    padding: 3%;

}

.accordion-button{

    cursor: pointer;
    color: $red-orange;
    background-color: $dark-grey;

}

.accordion-button:not(.collapsed){
    color: $red-orange;
    background-color: $dark-grey;
    box-shadow: none;
}

.accordion-item{
    border: none;
}

.help-transition{
    transition: all .3s;
}

.help-text{
    color: lighten($color: $bright-grey, $amount: 30);
}