.card{

    background-color: $bright-grey;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;

}
.brigthGrey{
    background-color: $bright-grey;
}


.card__style{

    width: 100%;

}
.card-img, .card-img-top {

    width: 25%;
    border-radius:0px;

}

.card-img, .card-img-bottom, .card-img-top {
    width: 50%;

}