.nav__container{

    background-color: $bright-grey;
    border-bottom: 1vh solid $red-orange;
    color: $red-orange;

}

.nav__item{

    color: white;
    padding-right: .5rem;
    padding-left: .5rem;
    transition: all .3s;
    &:hover{
        color: $red-orange
    }

}

.fas{
    cursor: pointer;
}
