$dark-grey: #292929;
$bright-grey: #333333;
$red-orange: rgb(255, 65, 17);

*{
    background-color: $dark-grey;
    color: rgb(228, 228, 228);
} 

.brightGrey{
    background-color: $bright-grey;
}

.text-orange{
    color: $red-orange;
}

.btn-red-orange {
    color: $red-orange;
    border-color: $red-orange;

    &:hover{
        color: $bright-grey;
        background-color: $red-orange;

    }
}


@import './components/nav';
@import './components/cards';
@import './components/auth';
